@model IEnumerable<BSISolution.Models.Products>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }
</style>
<div id="placeHolder"></div>
<div class="row">
    <div class="col-12 ">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="card card-custom gutter-b bg-transparent shadow-none border-0">
                    <div class="card-header align-items-center  border-bottom-dark px-0">
                        <div class="card-title mb-0">
                            <h3 class="card-label mb-0 font-weight-bold text-body">
                                Product List
                            </h3>
                        </div>
                        <div class="icons d-flex">
                            <button class="btn ml-2 p-0"
                                    id="kt_notes_panel_toggle" data-toggle="tooltip" title="" data-placement="right"
                                    data-original-title="Check out more demos">
                                <span class="bg-secondary font-size-h5 w-70px d-flex align-items-center justify-content-center rounded-lg shadow-sm ">
                                    New Product
                                </span>
                            </button>
                            <a href="#" onclick="printDiv()" class="ml-2">
                                <span class="icon h-30px font-size-h5 w-30px d-flex align-items-center justify-content-center rounded-circle ">
                                    <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-printer-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5z" />
                                        <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z" />
                                        <path fill-rule="evenodd" d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                                    </svg>
                                </span>

                            </a>
                            <a href="#" class="ml-2">
                                <span class="icon h-30px font-size-h5 w-30px d-flex align-items-center justify-content-center rounded-circle ">
                                    <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-file-earmark-text-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7 2l.5-2.5 3 3L10 5a1 1 0 0 1-1-1zM4.5 8a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                </span>

                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-custom gutter-b bg-white border-1">
            <div class="card-body">
                <div>
                    <div class="table-responsive" id="">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Categories.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductPrice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ParVolume)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UnitPerBox)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AvailibleBalance)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Categories.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ParVolume)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnitPerBox)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AvailibleBalance)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="kt_notes_panel" class="offcanvas offcanvas-right kt-color-panel p-5">
    <div class="offcanvas-header d-flex align-items-center justify-content-between pb-3">
        <h4 class="font-size-h4 font-weight-bold m-0">
            Add New Product
        </h4>
        <a href="#" class="btn btn-sm btn-icon btn-light btn-hover-primary" id="kt_notes_panel_close">
            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
            </svg>
        </a>
    </div>
    @*@using (Html.BeginForm("AddUser", "Account", FormMethod.Post))
        {*@
<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label style="font-size:16px;" class="control-label text-dark">Product Code</label>
                <input style="font-size:16px;" id="ProductCode" type="text" name="ProductCode" class="form-control" required />
                <small class="form-text text-muted">please enter Product Code</small>
            </div>
            <div class="form-group">
                <label style="font-size:16px;" class="control-label text-dark">Product Name</label>
                <input style="font-size:16px;" id="ProductName" type="text" name="ProductName" class="form-control" required />
                <small class="form-text text-muted">please enter Product Name</small>
            </div>
            <div class="form-group date" data-date-format="dd/mm/yyyy">
                <label style="font-size:16px;" class="control-label text-dark">Category</label>
                <input style="font-size:16px;" id="CategoryId" type="number" name="CategoryId" class="form-control" required />
                <small class="form-text text-muted">please enter Product Category</small>
            </div>
            <div class="form-group">
                <label style="font-size:16px;" class="control-label text-dark">Product Price</label>
                <input style="font-size:16px;" id="ProductPrice" type="number" name="ProductPrice" class="form-control" required />
                <small class="form-text text-muted">please enter Product Price</small>
            </div>
            <div class="form-group">
                <label style="font-size:16px;" class="control-label text-dark">Par Volume</label>
                <input style="font-size:16px;" id="ParVolume" type="number" name="ParVolume" class="form-control" required />
                <small class="form-text text-muted">please enter Product Par Volume</small>
            </div>
            <div class="form-group">
                <label style="font-size:16px;" class="text-dark">Product Unit Per Box</label>
                <input style="font-size:16px;" id="UnitPerBox" type="number" name="UnitPerBox" class="form-control" required />
                <small class="form-text text-muted">please enter Product Unit Per Box</small>
            </div>
            <div class="form-group">
                <label style="font-size:16px;" class="control-label text-dark">Product Expiratio Date</label>
                <input style="font-size:16px;" id="ExpiratioDate" type="datetime" name="ExpiratioDate" class="form-control" required />
                <small class="form-text text-muted">please enter Product Expiratio Date</small>
            </div>
            <div class="form-group">
                <label style="font-size:16px;" class="control-label text-dark">Product Availible Balance</label>
                <input style="font-size:16px;" id="AvailibleBalance" type="number" name="AvailibleBalance" class="form-control" required />
                <small class="form-text text-muted">please enter Product Availible Balance</small>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Product</button>
</form>
    @*}*@
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ListTable').DataTable();
        $(function () {
            var placeHolderElement = $('#placeHolder');
            $('button[data-toggle="ajax-modal"]').click(function (event) {
                //alert('Testing......');
                var url = $(this).data('url');
                var decodedUrl = decodeURIComponent(url);
                $.get(decodedUrl).done(function (data) {
                    placeHolderElement.html(data);
                    placeHolderElement.find('.modal').modal('show');
                })
            })
        });

    });
</script>

